###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################


plugins =[{}]
    "minify" = "!plg:minify"
@
tasks =[{}]

    minify_normalise =[{}]
        
        src =[]
        ./src/normalize.css
        @
        
        minify ={}
            cssmin =[]
            --remove-comments
            --vendor-prefixes
            --hsla2rgba
            --rgb2hex
            #--no-minify
            #--embed-images
            #--embed-fonts
            #--embed-imports
            @
        @
        out = ./build/normalize.min.css
    @
   
    minify_responsive =[{}]
        
        src =[]
        ./src/responsive.css
        @
        
        minify ={}
            cssmin =[]
            --remove-comments
            --vendor-prefixes
            --hsla2rgba
            --rgb2hex
            #--no-minify
            #--embed-images
            #--embed-fonts
            #--embed-imports
            @
        @
        out = ./build/responsive.min.css    
    @
    
    build_bundle =[{}]
        
        src =[]
        ./src/normalize.css
        ./src/responsive.css
        @
        
        minify ={}
            cssmin =[]
            --remove-comments
            --vendor-prefixes
            --hsla2rgba
            --rgb2hex
            --no-minify
            #--embed-images
            #--embed-fonts
            #--embed-imports
            @
        @
        out = ./build/responsive.bundle.css
    @
   
    minify_bundle =[{}]
        
        src =[]
        ./build/normalize.min.css
        ./build/responsive.min.css
        @
        
        out = ./build/responsive.bundle.min.css
    @
   
@
