###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################


tasks =[{}]

    build =[{}]
        
        src =[]
        ./src/normalize.css
        ./src/responsive.css
        @
        
        minify ={}
            cssmin =[]
            --remove-comments
            --vendor-prefixes
            --hsla2rgba
            --rgb2hex
            --no-minify
            #--embed-images
            #--embed-fonts
            #--embed-imports
            @
        @
        out = ./build/responsive.bundle.css
    @
   
    minify =[{}]
        
        src =[]
        ./build/responsive.bundle.css
        @
        
        minify ={}
            cssmin =[]
            @
        @
        out = ./build/responsive.bundle.min.css    
    @
   
@
